@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.body {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chudi {
  position: absolute;
  font-family: "Roboto Mono", monospace;
  z-index: 99999;
  top: 0;
  margin-bottom: 20px;
  background-color:  #D3D3D3;
  padding: 15px 40px;
  border-radius: 12px;
  box-shadow:black 3px;
  color:#001F3F ;
}

.inpu {
  position: fixed;
  bottom: 126px;
  left: 51%;
  transform: translateX(-50%);
  z-index: 10;
  padding: 5px;
  border-radius: 5px;
}
.expo{
  position: fixed;
  bottom: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 81%;
  gap: 8px;
  left: 229%;
  transform: translateX(-50%);
  z-index: 10;
  padding: 10px;
    padding-left: 10px;
  padding-left: 12px;
  border-radius: 5px;
    border-radius: 8px;
  cursor: pointer;
  background-color: #D3D3D3;
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
  color:#001F3F ;
}

.brush-size-slider {
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 60px; 
  left: 40%;
  transform: translateX(-50%);
  z-index: 10;
  width: 200px
}
.brush-size-slider_2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls{
  display: flex;
  column-gap: 80px;
  margin-left: 18px;
  margin-top: 8px;
}
.hehe{
  border-radius: 8px;
  padding: 7px;
  padding-inline: 32px;
  background-color: #D3D3D3 ;
  font-family: "Roboto Mono", monospace;
  font-weight: 800;
  color: #001F3F;
  
}
input[type="range"] {
  -webkit-appearance: none;
  width: 100%; 
  height: 8px; 
  background:#D3D3D3;
  border-radius: 5px; 
  outline: none; 
}